@model IEnumerable<LogixHealth.Eligibility.Models.ViewModels.AuditTrailViewModel>
@{
    var items = Model;
    var validationCode = Model?.FirstOrDefault()?.Field;
    var description = ViewBag.descriptionAuditTrail;

}

<!-- Audit Modal -->
<div aria-hidden="true" aria-labelledby="viewTrail" class="modal fade" id="viewTrail" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-top" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="auditTrailTitle">Audit Trail</h5><button aria-label="Close" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p><span class="cg-bold text-primary">@validationCode - @description</span></p>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-2">
                            <label class="icon-label">
                                <svg class="icon icon-sm icon-input icon-search">
                                    <use xlink:href="#icon-search"></use>
                                </svg> <input class="form-control" id="search-Audit" placeholder="Search" type="text">
                            </label>
                            <!-- Audit Filters-->
                            <div class="btn-group">
                                <button class="btn btn-gray-med mx-1" data-toggle="dropdown" type="button"><svg class="icon icon-filter"><use xlink:href="#icon-filter"></use></svg></button>
                                <div class="dropdown-menu dropdown-menu-right no-close">
                                    <div id="auditAccordion">
                                        <div class="card border-0">
                                            <div class="card-header bg-white p-2" id="auditHeadingOne">
                                                <a aria-controls="auditCollapseOne" aria-expanded="true" class="text-dark filter-toggle d-block" data-target="#auditCollapseOne" data-toggle="collapse" href="javascript:void(0)">Filter options X</a>
                                            </div>
                                            <div aria-labelledby="auditHeadingOne" class="collapse show" data-parent="#auditAccordion" id="auditCollapseOne">
                                                <div class="card-body border-bottom">
                                                    <div class="custom-control custom-checkbox">
                                                        <input checked class="custom-control-input" id="auditFilterXoptA" type="checkbox"> <label class="custom-control-label" for="auditFilterXoptA">Filter A</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" id="auditFilterXoptB" type="checkbox"> <label class="custom-control-label mb-0" for="auditFilterXoptB">Filter B</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card border-0">
                                            <div class="card-header bg-white p-2" id="auditHeadingTwo">
                                                <a aria-controls="auditCollapseTwo" aria-expanded="true" class="text-dark filter-toggle d-block" data-target="#auditCollapseTwo" data-toggle="collapse" href="javascript:void(0)">Filter options Y</a>
                                            </div>
                                            <div aria-labelledby="auditHeadingTwo" class="collapse" data-parent="#auditAccordion" id="auditCollapseTwo">
                                                <div class="card-body border-bottom">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" id="auditFilterYoptA" type="checkbox"> <label class="custom-control-label" for="auditFilterYoptA">Filter A</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" id="auditFilterYoptB" type="checkbox"> <label class="custom-control-label mb-0" for="auditFilterYoptB">Filter B</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card border-0">
                                            <div class="card-header bg-white p-2" id="auditHeadingThree">
                                                <a aria-controls="auditCollapseThree" aria-expanded="true" class="text-dark filter-toggle d-block" data-target="#auditCollapseThree" data-toggle="collapse" href="javascript:void(0)">Filter options Z</a>
                                            </div>
                                            <div aria-labelledby="auditHeadingThree" class="collapse" data-parent="#auditAccordion" id="auditCollapseThree">
                                                <div class="card-body">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" id="auditFilterZoptA" type="checkbox"> <label class="custom-control-label" for="auditFilterZoptA">Filter A</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" id="auditFilterZoptB" type="checkbox"> <label class="custom-control-label mb-0" for="auditFilterZoptB">Filter B</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-gray-med" onclick="ExportAuditTrailList();" type="button"><svg class="icon icon-export"><use xlink:href="#icon-export"></use></svg></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-1">
                        <table class="table dt-responsive" id="auditTable" style="width:100%">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Action</th>
                                    <th>Changed From</th>
                                    <th>Changed To</th>
                                    <th>Users</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ChangeDateTime.ToString("MM/dd/yy")</td>
                                        <td>@item.ChangeDateTime.ToString("hh:mm tt zzz") </td>
                                        <td>@item.UserAction</td>
                                        <td>@item.OldValue</td>
                                        <td>@item.NewValue</td>
                                        <td>Manish</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script src="~/js/audittrail/audit-trail.js"></script>

}
